.main{
    flex: 1;
    min-height: 100vh;
    padding-bottom: 15vh;
    position: relative;
}
.main .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 20px;
    color: brown;
}
.main .nav img{
    width: 30px;
    border-radius: 50%;
}
.main-container{
    max-width: 900px;
    margin: auto;

}
.main .greet{
    margin: 50px 0px;
    font-size: 56px;
    color: rgb(200, 200, 205);
    font-weight: 500;
    padding: 20px;
}
.main .greet span{
    background: -webkit-linear-gradient(16deg,blue,red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.main .cards {
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
    gap: 15px;
    padding: 20px;
}
.main .card{
    height: 150px;
    padding: 15px;
    background-color: rgb(169, 164, 164);
    border-radius: 10%;
    position: relative;
    cursor: pointer;
}

.main  .card img {
    width: 35px;
    padding: 5px;
    position: absolute;
    background-color: white;
    border-radius:20px;
    bottom: 10px;
    right: 10px;
}
.main .card p{
    color: rgb(16, 15, 14);
    font-size: 18px;
}
.main .card:hover{
    background-color: rgb(158, 147, 147);
}
.main-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width:900px;
    padding: 0px 20px;
    margin: auto;
}
.search-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: rgb(184, 188, 193);
    padding: 10px 20px;
    border-radius: 50px;
}
.search-box img{
    width: 24px;
    cursor: pointer;
}
.search-box input{
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 18px;
}
.search-box div{
    display: flex;
    align-items: center;
    gap: 15px;
}
.main .bottom-info{
    font-size: 13px;
    margin: 15px auto;
    text-align: center;
    font-weight: 300;
}